<mat-drawer-container
  hasBackdrop="false"
  class="drawer__container"
  (mousemove)="onMouseMove($event)"
>
  <mat-drawer-content class="drawer__content">
    <div
      class="drawer__backdrop"
      [class.drawer__backdrop--fade]="backdropVisible"
    ></div>
  </mat-drawer-content>
  <mat-drawer
    #drawer
    mode="over"
    opened="true"
    class="drawer drawer--transparent"
    [class.drawer--closing]="!drawerClosing"
    (openedStart)="onDrawerOpen()"
    (closedStart)="onDrawerClose()"
  >
    <mat-nav-list class="drawer__nav">
      <div class="drawer__commands">
        @for(cmd of commands; track cmd){
        <button
          mat-raised-button
          matTooltip="{{ cmd.label }}"
          matTooltipPosition="right"
          class="drawer__command"
          [ngClass]="cmd.classes?.()"
          (click)="onCommandClick(cmd)"
        >
          <mat-icon fontSet="material-symbols-outlined">
            {{ cmd.icon() }}
          </mat-icon>
        </button>

        }
      </div>
    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>
