/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: block;
    height: 100%;

    .drawer__container {
        height: 100%;

        .drawer__content {}

        .drawer__nav {
            position: absolute;
            bottom: 0px;

            .drawer__commands {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                padding: 24px;

                .drawer__command {
                    min-width: 40px;
                    /* make it square */
                    width: 72px;
                    height: 72px;
                    padding: 0;

                    mat-icon {
                        margin: 0;
                        font-size: 36px;
                        width: 36px;
                        height: 36px;
                    }
                }

                .drawer__command.command__awake--active {
                    color: var(--mat-sys-on-primary) !important;
                    background-color: var(--mat-sys-primary) !important;
                }
            }
        }
    }
}

.colorpalette {

    .colorpalette__shade.mat-mdc-radio-checked {
        border-color: var(--mat-sys-primary) !important;
    }

    .colorpalette__shade {
        border-width: 2px;
        border-color: transparent;
        border-style: solid;

        .mdc-radio__background {
            visibility: hidden;
        }
    }
}